<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir nuevo alumno</title>
</head>

<body>
    <form method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"
                   placeholder="nombre" class="form-control"
            </input>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos"
                   placeholder="apellidos" class="form-control"
            </input>
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" name="edad"
                   placeholder="edad" class="form-control"
            </input>
        </div>
        <div class="form-group">
            <label for="curso">Curso</label>
            <input type="text" name="curso"
                   placeholder="curso" class="form-control"
            </input>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</body>
</html>
